html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #212121;
}

h1, h2, h3, hr, p {
  color: #E6E6E6;
}

h1 {
  font-weight: 500;
  font-size: 2.5em;
  line-height: 1.3;
  letter-spacing: -1px;
}

h2 {
  font-weight: 500;
  color: #E6E6E6;
  font-size: 1.1em;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.3rem;
}

main {
  background-color: none;
}

section.about p, section.special-project p {
  font-size: 1.2rem;
  line-height: 1.6;
}

header, section, footer {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

header {
  padding-top: 4vh;
  padding-bottom: 3vh;
  display: flex;
  justify-content: space-between;
}

header ul {
  margin: 0;
}


section {
  padding-top: 4em;
  padding-bottom: 4em;
}

section.about {
  padding-top: 0;
}

footer {
  padding-top: 3em;
  padding-bottom: 4vh;
}

.experience p, .education p {
  color: #E6E6E6;
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: #db9afd;
  text-decoration: underline;
  font-size: 1.2rem;
}

a:hover {
  color: #9800E8;
}

header a {
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

li {
  display:inline-block;
  margin-right: 32px;
}


.hero-image {
  display: none;
  position: absolute;
  top: 100px;
  right: 0px;
  z-index: -1;
}

.hero-image svg {
  width: 42vw;
  height: 54vw;;
}

section.hero {
  padding-bottom: 0;
}

.buttons {
  margin-top: 48px;
}

.buttons .portfolio a {
  display: block;
  padding: 12px 32px 12px 32px;
  background-color: #9800E8;
  color: #fff;
  border: none;
  text-decoration: none;
}

.buttons .portfolio a:hover {
  color: #E6E6E6;
  background-color: #8B03D3;
}

.spotlightux {
  text-decoration: none;
}

a.spotlightux:hover {
  text-decoration: none;
}

svg {
  height: 25.95px;
  width: 29.96px;
}

hr {
  border-style: dashed;
  border-color: #E6E6E6;
}

.social-media {
  margin-top: 36px;
}

.element {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dashed #E6E6E6;
}

.element p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.element:first-child {
  padding-top: 0;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Special styles for hero text */

.text {
  background-color: #9800E8;
  color: white;
  padding: 2px 4px;
}

@media only screen and (min-width: 900px) {

  header, section, footer {
    padding-left: 0;
    padding-right: 0;
  }

  header {
    padding-bottom: 10vh;
  }

  h1 {
    font-weight: 500;
    font-size: 3.0em;
    line-height: 1.25;
    letter-spacing: -1px;
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  a {
    font-size: 1.3rem;
  }

  section {
    width: 100%;
    display: flex;
  }

  section.hero {
    display: block;
  }

  .hero-image {
    display: block;
  }

  /* homepage button */

  section.hero button {
    border: 2px solid #9800E8;
    border-radius: 10px;
    letter-spacing: .1em;
    color: #9800E8;
    font-size: 18px;
    font-weight: 600;
    margin-top: 24px;
  }

  section.hero button:hover {
    background-color: #9800E8;
    border: 2px solid #9800E8;
  }

  section.divider {
    display: block;
  }

  section.about p, section.special-project p {
    font-size: 1.3rem;
    line-height: 1.7;
  }

  section.about h2 {
    position: relative;
    top: 4px;
  }

  section .left h2 {
    line-height: inherit;
  }

  .social-media {
    margin-top: 48px;
  }

  .left {
    margin-left: 10%;
    width: 146px
  }

  .right {
    max-width: 600px;
  }

  .hero, .divider {
    margin-left: 10%;
    max-width: 740px;
  }

  header, footer {
    margin-left: 10%;
  }

  .element {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul.footer-links {
    margin-left: 145px;
  }
}

